@import "../../../../../Assets/Styles/style.css";

.statusIcon {
    background-color: var(--body-bg-color-4);
    border-radius: 20px;
    padding: 5px;
    padding-right: 15px;
    display: flex;
}

.circle-red {
    width: 20px;
    height: 20px;
    background-color: #d80000;
    border-radius: 100%;
}

.circle-orange {
    width: 20px;
    height: 20px;
    background-color: #e68a00;
    border-radius: 100%;
}

.circle-yellow {
    width: 20px;
    height: 20px;
    background-color: #f3cb16;
    border-radius: 100%;
}

.circle-green {
    width: 20px;
    height: 20px;
    background-color: #45B510;
    border-radius: 100%;
}

.statusContent {
    text-align: center;
    flex-grow: 1;
}

.no-style {
    background-color: transparent !important;
    padding: 0px !important;
    width: 100% !important;
}