@import "../../Assets/Styles/style.css";

.landing-box {
    width: 60%;
    margin: 150px auto;
    text-align: center;
    color: var(--navbar-text);
}

.landing-box h3 {
    margin-bottom: 50px;
}

.landingPageButtons {
    display: flex;
    justify-content: center;
}

.landingPageButtons .ui {
    margin-left: 5px;
}

@media only screen and (max-width: 768px) {
    .landingPageButtons {
        flex-direction: column;
    }

    .landingPageButtons .ui {
        margin-left: 0px;
        margin-top: 10px !important;
    }
}