@import "../../../Assets/Styles/style.css";

#usersGrid {
    background: blue;
    display: flex;
    flex-wrap: wrap;
}

.cellWrapper {
    padding: 10px;
    padding-left: -10px;
    width: 33%;
}

.userCell {
    background: pink;
}