@import "../../../Assets/Styles/style.css";

.loaderContainer {
    width: 100%;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.loader {
    position: relative !important;
}