@import "../../Assets/Styles/style.css";

#App {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

#mainContentBody {
    margin: 0px auto;
    width: var(--body-width);
    flex-grow: 1;
}