@import "../../../../../Assets/Styles/style.css";

.ticketItem {
    text-align: center;
    background-color: var(--body-bg-color-3);
    border: 1px solid var(--body-border-color);
    border-radius: 20px;
    padding: 0px 15px !important;
    margin-top: 30px !important;
    align-items: center !important;
}

.ticketStatusCol {
    margin: 0px auto;
    width: 80%;
}

.ticketAvatar {
    margin: 0px auto;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-color: var(--body-bg-color-1);
    border: 2px solid var(--body-border-color);
}

.ticketItemTitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}