@import "../../Assets/Styles/style.css";

.register-page-body {
    width: var(--small-container-width);
    margin: 100px auto;
    padding: 30px;
    background-color: var(--body-bg-color-1);
    border-radius: var(--container-border-radius);
}

.register-page-content {
    padding: 20px;
}

.register-header {
    display: flex;
}

.register-header h2 {
    margin-bottom: -5px;
}

@media only screen and (max-width: 768px) {
    .register-page-body {
        margin: 0px;
    }
}