@import "../../Assets/Styles/style.css";

#footerBar {
    background-color: var(--primary-color);
    width: 100%;
    height: min-content;
    color: var(--navbar-text);
    margin-top: 70px;
    flex-basis: auto;
    flex-grow: 1;
}

#footerContent {
    margin: 0px auto;
    width: var(--body-width);
    padding: 60px 0px;
}

#contactDetails {
    text-align: center;
}

.contactCircle {
    margin: 0px auto;
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    background-color: var(--body-border-color);
    border-radius: 100%;
    padding: 5px;
}

.contactPic {
    width: 100%;
    height: 100%;
    background-color: var(--body-bg-color-1);
    border-radius: 100%;
    padding: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.contactEmail {
    background-image: url('../../Assets/Images/EmailIcon.png');
}

.contactPortfolio {
    background-image: url('../../Assets/Images/PortfolioIcon.png');
}

.contactGithub {
    background-image: url('../../Assets/Images/GitHubIcon.png');
}

@media only screen and (max-width: 768px) {
    #footerBar {
        margin-top: 0px;
    }
}




/* #contactDetails div {
    margin-right: 50px;
} */