:root {
    /* Sizes */
    --body-width: 70%;
    min-height: 100vh;
    
    --small-container-width: 40%;
    --med-container-width: 60%;

    --default-padding: 30px;

    --container-border-radius: 10px;

    /* Colors */
    --primary-color: #B31E1E;
    --primary-color-hover: #851616;
    --bg-color: #4C4B4B;
    --navbar-text: #FFF8F8;

    --body-bg-color-1: #FEFEFE;
    --body-bg-color-2: #F1F1F1;
    --body-bg-color-3: #ebebeb;
    --body-bg-color-4: #d6d6d6;

    --body-border-color: #c5c5c5;

    --subheader-color: #5e5e5e;

    --label-color: #7a7a7a;
}


html {
    min-height:100%;
    position: relative;
    min-height: 100vh;
}

body {
    background-color: var(--bg-color);
    height: 100%;
    min-height: 100vh;
}

.remove-padding {
    padding: 0px !important;
}

.fullWidth {
    width: 100%;
}

.fullHeight {
    height: 100%;
}

hr {
    border-top: 1px solid var(--body-border-color);
}

.mainButton {
    background-color: var(--primary-color) !important;
    color: var(--navbar-text) !important;
}

.mainButton:hover {
    background-color:var(--primary-color-hover)!important;
}

.backButton {
    height: min-content;
}

.no-style {
    background-color: transparent !important;
    padding: 0px !important;
    width: 100% !important;
}

button:focus {
    /* outline: var(--primary-color) thin dotted; */
    outline: none;
}

.clickable {
    cursor: pointer;
}

.productButton {
    background-color: var(--body-bg-color-4);
    margin-top: 10px;
    padding: 7px;
    border-radius: 20px;
    text-align: center;
    border: none;
}

.centerX {
    margin: 0px auto !important;
    display: block !important;
}