@import "../../Assets/Styles/style.css";

#ticketDetailsBody {
    width: var(--body-width);
    margin: 50px auto;
}

#ticketDetailsMainPost {
    background-color: var(--body-bg-color-1);
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid var(--body-border-color);
}

#ticketDetailsMainPostContent {
    padding: 0px 50px;
}

.postHeaderDate {
    margin-top: -10px;
    color: var(--subheader-color);
}

.posterName {
    color: var(--subheader-color);
    margin-top: 10px !important;
}

.posterRank {
    color: var(--subheader-color);
    margin-top: -15px;
}

.commentButton {
    display: block !important;
    margin: auto auto !important;
    margin-top: 40px !important;
    width: 30%;
    font-size: 20px !important;
    padding: 10px !important;
}

.description {
    white-space: pre-wrap;
}

.ticketHeaderTitle {
    display: flex;
}

.authorInfo {
    display: flex;
}

.authorNameAndRank {
    margin-left: 15px;
}

.ticketMeta {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.productAndStatus {
    margin-left: auto;
    width: 150px;
}

.ticketBody {
    padding-top: 20px;
    padding-bottom: 40px;
}

.ticketFooter {
    display: flex;
    padding: 0px;
}


@media only screen and (max-width: 768px) {

    #ticketDetailsBody {
        margin-top: 0px;
    }

    #ticketDetailsMainPost {
        border-radius: 0px;
    }

    .ticketHeaderTitle {
        flex-direction: column;
        text-align: center;
    }

    .ticketDetailsButtons {
        margin: auto;
    }

    .ticketDetailsHeader p {
        margin-top: 20px;
        text-align: center;
    }

    .ticketDeveloper {
        margin: auto;
        margin-bottom: 20px;
    }

    .ticketFooter {
        flex-direction: column;
    }

    .description {
        margin-top: 40px;
        font-size: 18px;
        width: 100%;
    }
}