.errorNotice {
    background: #FFDFDF;
    border: 1px solid #FFB8B8;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {

    .errorNotice{
        font-size: 18px;
    }
}